<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" type='text/css'>
  </head>
  <body>
    <h1><a href="#">Hello World</a></h1>
    <div>
      <form action="/confirm" method="post">
        <input type="text" name="name" value="">
        <input type="submit">
      </form>
    </div>
  </body>
</html>
